<div class="row">
  <div class="col-xs-10">

    <app-shopping-edit 
    (newIngredient)="ingredients.push($event)"
    (clear)="ingredients = []"
    (toDelet)= "toDeletFunction($event)"
    ></app-shopping-edit>

    <hr>

    <p *ngIf="toDelet">Click in a ingredient bbelow to remove it</p>
    <ul class="list-group">
      <a *ngFor="let ingredient of ingredients" 
      style="cursor:pointer;" 
      [class]="classEl"
      >
      {{ ingredient.name }} ({{ ingredient.amount }})
      </a>
    </ul>

  </div>
</div>